.button {
  border: none;
  padding: 0.5rem;
  margin: 0;
}

.test-button {
  transform: translateY(4px);
  background-color: rgb(121, 204, 141);
  border-radius: 8px 8px 0px 0px;
  height: 3rem;
  z-index: 3;
}
.test-button:hover {
  background-color: rgb(89, 177, 110);
}

.test-all-button {
  background-color: rgb(121, 204, 141);
  border-radius: 8px 0px 0px 8px;
}
.test-all-button:hover {
  background-color: rgb(89, 177, 110);
}
.arrow-button {
  border: none;
  background-color: rgb(214, 214, 214);
  border-radius: 0px 0px 8px 0px;
  height: 100%;
}
.arrow-button:hover {
  color: rgba(0, 0, 0, 0.61);
}

.server-button {
  background-color: rgb(214, 214, 214);
}
.server-button:hover {
  background-color: rgb(197, 197, 197);
}
.server-button:disabled {
  background-color: rgb(226, 226, 226);
}
.server-button:disabled:hover {
  background-color: rgb(226, 226, 226);
  cursor: default;
}
.staging-button {
  border-radius: 0px 8px 8px 0px;
}
.dev-button {
  border-radius: 8px 0px 0px 8px;
}

.collapse-data-button {
  position: sticky;
  transform: translateY(-4px);

  left: 100vw;
  top: 94vh;
  width: 100%;
  border: none;
  border-radius: 8px 8px 8px 8px;
  background-color: rgb(214, 214, 214);
  font-size: x-large;

  display: flex;
  justify-content: center;
  z-index: 1;
}

.collapse-data-button:hover {
  background-color: rgb(197, 197, 197);
}
