.menu {
  margin: 1rem;
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0 1rem;
}

.flex-right {
  display: flex;
  justify-content: right;
}

.flex-left {
  display: flex;
  justify-content: left;
}

.flex-right h3 {
  margin: auto 0.5rem;
}

.stat-box {
  display: flex;
  border-radius: 8px 0px 0px 0px;
  padding: 0 1rem 0 0.7rem;
  transform: translateX(10px);
  z-index: -1;
  background-color: rgb(214, 214, 214);
}

.error {
  color: rgb(173, 13, 13);
  background-color: rgb(218, 121, 140);
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
}

hr {
  margin: 1rem;
}
