.login-button {
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  background-color: cornflowerblue;
  /* height: 100%; */
  color: white;
  font-weight: bold;
}
.login-button:hover {
  cursor: pointer;
}
