nav {
  background-color: cornflowerblue;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

nav h1 {
  color: azure;
  padding: 1rem;
}
nav h4 {
  color: azure;
  padding: 1.3rem;
}

.link-item {
  text-decoration: none;
}

.float-left {
  display: flex;
}

.float-right {
  display: flex;
}
