nav {
  background-color: cornflowerblue;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

nav h1 {
  color: azure;
  padding: 1rem;
  margin: auto;
}
nav h4 {
  color: azure;
  padding: 1.3rem;
  margin: auto;
}

.link-item {
  text-decoration: none;
}

.float-left {
  display: flex;
}

.float-right {
  display: flex;
}
.user-id {
  display: block;
}

@media only screen and (max-width: 700px) {
  nav {
    font-size: x-small;
  }
  /* .float-left {
    font-size: x-small;
  } */
  .float-left h1 {
    padding: 0 0 0 1rem;
  }
  /* .float-right {
    font-size: x-small;
  } */
  .float-left h1 {
    padding: 0 0 0 1rem;
  }

  nav h4 {
    padding: 1.2rem 0.2rem 1.2rem 0.2rem;
  }

  .user-id {
    display: none;
  }
}
